[tool.ruff]
line-length = 120
fix = true
target-version = "py310"

[tool.ruff.lint]
select = [
    "E",   # pycodestyle errors
    "F",   # pyflakes
    "I",   # isort
    "B",   # flake8-bugbear
    "UP",  # pyupgrade
    "C4",  # flake8-comprehensions
    "N",   # pep8-naming
    "S",   # flake8-bandit
]
ignore = ["E203"]
exclude = [".ipynb_checkpoints"]

[tool.ruff.format]
quote-style = "preserve"
indent-style = "space"
line-ending = "auto"

[tool.black]
line-length = 120
target-version = ['py310']
skip-string-normalization = true
exclude = [".ipynb_checkpoints"]

[tool.isort]
profile = "black"
line_length = 120

[tool.pylint]
disable = [
    "missing-module-docstring",
    "missing-function-docstring",
    "too-many-arguments",
    "too-many-locals",
    "too-many-branches",
    "too-many-statements",
    "R0903", # Too few public methods
]
ignore = [".ipynb_checkpoints"]